# ====================================================================
# 除外ファイル設定
# ====================================================================
# 環境設定
.metadata/

# 一時フォルダ
bin/
.settings/

# 利用ライブラリ
lib/
